<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="nopCommerce" parallel="tests">

	<listeners>
		<listener
			class-name="com.nopCommerce.utilities.ExtentReportManager" />

	</listeners>
	<test name="chrometest">
		<parameter name="browser" value="chrome" />
		<classes>
			<!--  <class name="com.nopCommerce.testCases.TC_LoginTest_001" />-->
			<!-- <class name="com.nopCommerce.testCases.TC_LoginDDT_002" /> -->
			<class name="com.nopCommerce.testCases.TC_AddCustomerTest_003" />
		</classes>
	</test>


	<!-- <test name="firefoxtest"> <parameter name="browser" value= "firefox" 
		/> <classes> <class name="com.nopCommerce.testCases.TC_LoginTest_001" /> 
		</classes> </test> <test name="ietest"> <parameter name="browser" value="ie" 
		/> <classes> <class name="com.nopCommerce.testCases.TC_LoginTest_001" /> 
		</classes> </test> -->

</suite>